* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* Common */
a {
  text-decoration: none;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 144px;
  padding: 8px 12px;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
}

/* ====== Header ====== */
.header.fixed {
  position: sticky;
  top: -26px;
  z-index: 1;
}
.header {
  display: flex;
  padding: 36px 0 10px;
  background: #fffcf4;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  flex: 1;
}

.navbar ul {
  display: flex;
  gap: 42px;
}

.navbar li a {
  display: inline-block;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.navbar li a::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.navbar li a:hover {
  color: #171100;
  font-weight: 600;
}
.navbar li.active a {
  position: relative;
  color: #171100;
  font-weight: 600;
}

.navbar li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .navbar .actions {
  margin-left: 70px;
}

/* ====== Hero ====== */
.hero {
  padding: 64px 0;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 49%;
}

.hero .images {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .info {
  margin-left: 130px;
}

.hero .hero-summary {
  position: absolute;
  right: -100px;
  bottom: 48px;
  width: 270px;
  height: 244px;
  padding: 28px 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 14px;
}

.hero-summary .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}

.hero-summary .icon img {
  height: 24px;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
