* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* Common */
a {
  text-decoration: none;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ====== Header ====== */
.header.fixed {
  position: sticky;
  top: -26px;
  z-index: 1;
}
.header {
  display: flex;
  padding: 36px 0 10px;
  background: #fffcf4;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 42px;
  margin-left: auto;
}

.navbar li a {
  display: inline-block;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.navbar li a::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.navbar li a:hover {
  color: #171100;
  font-weight: 600;
}
.navbar li.active a {
  position: relative;
  color: #171100;
  font-weight: 600;
}

.navbar li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .actions {
  margin-left: 70px;
}

.header .sign-up-btn {
  min-width: 144px;
}

/* ====== Hero ====== */
.hero {
  padding: 56px 0 62px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 100%;
}

.hero .images {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  height: 244px;
  padding: 28px 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary__item {
  display: flex;
  align-items: center;
}
.hero-summary__item + .hero-summary__item {
  margin-top: 14px;
}

.hero-summary__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}

.hero-summary__icon img {
  height: 24px;
}

.hero-summary__info {
  margin-left: 16px;
}

.hero-summary__label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero-summary__title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .info {
  width: 100%;
  padding-left: 130px;
}

.hero .title {
  width: 470px;
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.116rem;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero .hero-cta {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}

.hero-cta .hero-btn {
  min-width: 180px;
  padding: 7px 0px;
  background: var(--primary-color);
}

.hero .watch-btn {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero .watch-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-btn span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 14px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  padding-right: 8px;
}

.hero .stats strong + strong {
  padding-left: 28px;
}

/* ====== Popular ====== */
.popular {
  margin-top: 135px;
  padding: 65px 0;
}

.popular .popular-header {
  display: flex;
  align-items: center;
}

.popular .title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.076rem;
}

.popular .desc {
  width: 458px;
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.popular .controls {
  margin-left: auto;
  display: flex;
  gap: 18px;
}

.popular .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: transparent;
}

.popular .control-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
}

.course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.course-item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-item .course-item-thumb {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
}

.course-item .course-item-info {
  width: 100%;
  padding: 16px 22px 22px;
}

.course-item .course-item-head {
  display: flex;
  justify-content: space-between;
}

.course-item-head .rating {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.course-item .course-item-title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.course-item .course-item-desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.course-item .book-btn {
  border: none;
  width: 118px;
  border-radius: 25px;
}

.course-item .book-btn:hover {
  background-color: var(--primary-color);
}

.course-item .foot {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

/* ====== Feedback ====== */
.feedback {
  margin-top: 200px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback .feedback-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.feedback-item {
  display: flex;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-right: 241px;
}

.feedback-item .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.feedback-item .dots {
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item blockquote {
  padding-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54;
}

/* ====== Features ====== */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .container {
  display: flex;
  justify-content: space-between;
}
.features .img-block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.features .img-block img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
}

.features .img-block .left {
  margin-top: 34px;
}

.features .body {
  margin-left: 130px;
}

.features .title {
  margin-top: 58px;
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.076rem;
}

.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.features .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  background: var(--primary-color);
}

.features-2nd {
  margin-top: 70px;
}

.features-2nd .container {
  flex-direction: row-reverse;
}

.features-2nd .img-block img {
  width: 470px;
  height: 440px;
}

.features-2nd .img-block {
  margin-left: 130px;
}

.features-2nd .body {
  margin-left: 0;
}
/* ====== Blog ====== */
.blog {
  margin-top: 200px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .head__title {
  color: #130606;
  text-align: center;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.076rem;
}

.blog .head__desc {
  margin: 16px auto auto;
  width: 448px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
}

.blog .blog-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 55px;
}

.blog-item .thumb {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
}
.blog-item {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-item .body {
  padding: 20px 30px 28px;
}

.blog-item .date {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
}

.blog-item .separate {
  margin-top: 12px;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blog-item .date .dot {
  display: inline-block;
  margin-right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.blog-item .title {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blog-item .cta-btn {
  margin-top: 12px;
  background-color: var(--primary-color);
}

.blog .pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blog .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.blog .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

/* ====== Footer ====== */
.footer {
  padding: 96px 0 0;
  background: #2e2100;
}

.footer .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  max-width: 267px;
}

.footer .row {
  display: flex;
  gap: 130px;
  padding-bottom: 38px;
}

.footer .social-list {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}

.footer .title {
  width: 137px;
  padding: 0 48px 14px 0;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .list {
  padding-top: 28px;
}
.footer .item {
  margin-top: 12px;
  min-width: 137px;
}

.footer .item a {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer .item strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.copyright {
  border-top: 1px solid #59554b;
  padding: 28px 0;
}

.copyright p {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
