* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

/* Common */
a {
  text-decoration: none;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.8;
}

/* ====== Header ====== */
.header.fixed {
  position: sticky;
  top: -26px;
  z-index: 1;
}
.header {
  display: flex;
  padding: 36px 0 10px;
  background: #fffcf4;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 42px;
  margin-left: auto;
}

.navbar li a {
  display: inline-block;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.navbar li a::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.navbar li a:hover {
  color: #171100;
  font-weight: 600;
}
.navbar li.active a {
  position: relative;
  color: #171100;
  font-weight: 600;
}

.navbar li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .actions {
  margin-left: 70px;
}

.header .sign-up-btn {
  min-width: 144px;
}

/* ====== Hero ====== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 100%;
}

.hero .images {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  height: 244px;
  padding: 28px 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary__item {
  display: flex;
  align-items: center;
}
.hero-summary__item + .hero-summary__item {
  margin-top: 14px;
}

.hero-summary__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}

.hero-summary__icon img {
  height: 24px;
}

.hero-summary__info {
  margin-left: 16px;
}

.hero-summary__label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero-summary__title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .info {
  width: 100%;
  padding-left: 130px;
}

.hero .title {
  width: 470px;
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.116rem;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero .hero-cta {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}

.hero-cta .hero-btn {
  min-width: 180px;
  padding: 7px 0px;
  background: var(--primary-color);
}

.hero .watch-btn {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero .watch-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-btn span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 14px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  padding-right: 8px;
}

.hero .stats strong + strong {
  padding-left: 28px;
}

/* ====== Popular ====== */
.popular {
  margin-top: 135px;
  padding: 65px 0;
}

.popular .popular-header {
  display: flex;
  align-items: center;
}

.popular .title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.076rem;
}

.popular .desc {
  width: 458px;
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.popular .controls {
  margin-left: auto;
  display: flex;
  gap: 18px;
}

.popular .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: transparent;
}

.popular .control-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
}

.course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.cousre-item .cousre-item-thumb {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
}

.cousre-item .cousre-item-info {
  width: 100%;
  padding: 16px 22px 22px;
}

.cousre-item .cousre-item-head {
  display: flex;
}

.cousre-item .cousre-item-title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
